.form-container-create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form textarea[type="text"] {
    width: 100%;
    padding: 10px;
    height: 180px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form select[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #99927e;
    color: #fff;
  }
  
  .form button[type="submit"]:hover {
    background-color: #ada388;
  }
  