.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}
.SignupPage h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.SignupPage label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.SignupPage input[type="email"],
.SignupPage input[type="password"],
.SignupPage input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.SignupPage button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #99927e;
  color: #fff;
  cursor: pointer;
}

.SignupPage button[type="submit"]:hover {
  background-color: #bdb08b;
}

.SignupPage .error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

.SignupPage p {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.SignupPage a {
  color: #3498db;
}

