.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.LoginPage h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.LoginPage label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}
 
.LoginPage input[type="password"], input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.LoginPage button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #99927e;
  color: #fff;
  cursor: pointer;
}

.LoginPage button[type="submit"]:hover {
  background-color: #bdb08b;
}


.LoginPage .error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

.LoginPage p {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.LoginPage a {
  color: #3498db;
}
