*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reviewPage{
    margin-top:8vh;
    
}

.boxes {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


