*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxes {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .barraBtn {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  button {
    padding: 10px 20px;
    background-color: #99927e;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #bdb08b;
  }