.home{
  margin-top: 80px;
}

#intro{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro header h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 5px;
}

#intro header p {
    font-size: 20px;
}

.coffeeImg{
    display: block;
    margin: 0 auto;
    height: 60px;
}
.coffeeJourneyHeader {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
  }
  
  .coffeeManually {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .text {
    width: 50%;
    padding: 0 50px;
  }
  
  .headerCoffeeM {
    margin-bottom: 20px;
  }
  
  .ptext {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 40px;
    max-width: 800px;
  }
  
  .V60 {
    width: 90%;
    max-width: 800px;
    object-fit: cover;
    border-radius: 10px;

  }

.maps{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}


.mapTxt p{
  text-align: center;
}


.map{
  flex-basis: 45%;
  }


    
